* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {    
   /* margin-left: 250px;
    margin-right: 250px;
    margin-top: 30px;
    margin-bottom: 30px;*/
    margin: 15%;
    
}
/*header*/
header {
    /*height: 100px;*/
    margin-bottom: 20px;
    /*background-color: #E470FF;*/
}

/*nav {
    height: 100px;
}*/

.list-inline > li {
    list-style: none;
    display: inline-block;
    padding: 10px 10px 10px 0;
}

.list-inline a {
    text-decoration: none;
    color: grey;
}

.generico {
    height: 400px;
    /*background-color: #e1d67a;*/
    background-image: url('../immagini/banner.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 1);
}

.rettangolo {
    height: 100px;
    width: 350px;
    margin-left: 80px;
    padding-top: 300px;
    color: white;
}

/*main*/
main {
    margin-top: 20px;
   /* background-color: #0087fd;*/

}

main::after {
    content: "";
    display: table;
    clear: both;
}

.sezione1 {
    float: none;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    /*background-color: #abcfe7;*/
}

.grigio {
    color: grey;
}

/*sezione 2*/
.sezione2 {
    float: left;
    /*height: 300px;*/
    width: 23%;
    margin-bottom: 10px;
    /*background-color: #abcfe7;*/
   /* background-image: url('../immagini/img-1.jpg');
    background-size: cover;
    background-position: center;*/
}

.conteiner-image1 {
    width: auto;
    height: 150px;
    background-image: url('../immagini/img-1.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 1);

}

.testo {
    padding-top: 10px;
}

.testo p {
    margin-top: 5px;
}

/*sezione 3*/
.sezione3 {
    float: left;
    /*height: 300px;*/
    width: 50%;
    margin-bottom: 10px;
    margin: 0 2%;
    /*background-color: #abcfe7;*/
}

.conteiner-image2 {
    height: 150px;
    width: auto;
    background-image: url('../immagini/banner-2.jpg');
    background-size: cover;
    background-position: center;
}

/*sezione 4*/
.sezione4 {
    float: right;
    /*height: 300px;*/
    width: 23%;
    margin-bottom: 10px;
    /*background-color: #abcfe7;*/
}

.conteiner-image3 {
    height: 150px;
    width: auto;
    background-image: url('../immagini/img-3.jpg');
    background-size: cover;
    background-position: center;
}


/*footer*/
footer {
    height: 50px;
    margin-top: 40px;
   /* background-color: #8801fe;*/
   text-align: center;
}